---
layout: page
title: Projects
description: Some personal projects
---

<div class="posts">
  {% assign pages_list = site.pages | sort: "order" %}
  {% for node in pages_list reversed %}
    {% if node.title != null %}
      {% if node.layout == "project" %}
        {% if node.hidden != true %}
          <div class="post">
            <h2 class="post-title">
              <a href="{{ node.url | remove: '.html'}}">
                {{ node.title }}
              </a>
            </h2>

            <span class="post-date">{{ node.date }}</span>

            <p>
              {{ node.description }}
            </p>

            <a href="{{ node.url | remove: '.html' }}">
              Read more &raquo;
            </a>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>