---
---
// elements
pre {
  font-size: 0.7rem;
}
// utility
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.half {
    max-width: 50%;
  }
}
.img-circle {
  border-radius: 50%;
}
.img-shadow {
  box-shadow: 0px 0px 5px #888;
}
.border-darkgray {
  border: 1px solid #333;
}
abbr {
  position: relative;
  text-decoration: underline;
  text-decoration-style: dotted;

  &:hover::after {
    content: attr(data-title);
    position: absolute;
    right: -50%;
    bottom: 100%;
    width: 200px;
    font-weight: 400;
    background: rgba(0,0,0, 0.8);
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 7px 5px;
    text-transform: none;
  }
}

// colors
/* Black */
.theme-black .sidebar {
  background-color: #111;
}
.theme-black .content a,
.theme-black .related-posts li a:hover {
  color: #111;
}

// layout
body {
  font-family: "Open Sans", sans-serif;
}
.sidebar-about h1 {
  font-family: "Open Sans", sans-serif;
  a:hover {
    text-decoration: none;
  }
}
p.lead a:hover {
  text-decoration: none;
}
a.sidebar-nav-item {
  &-icon .fa {
    display: inline-block;
    margin-right: 30px;
    margin-top: 90px;
    &:hover {
      color: #aaa;
    }
  }
  & > span {
    display: inline-block;
    &:not(.fa)::after {
      content: '';
      display: block;
      width: 0%;
      height: 1px;
      background: white;
      transition: all 0.3s;
    }
  }
  &.active,
  &:hover,
  &:focus {
    text-decoration: none;
    font-weight: normal;
    &:not(.fa) > span::after {
      // disable effect
      // width: 100%;
    }
  }
}
.content p > a {
  text-decoration: underline;
}
.related-posts li a:hover {
  text-decoration: underline;
}
.related-posts li a:hover small {
  color: #999;
}
