<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          <!-- /public/images/me.jpg -->
          <!-- <img class="img-responsive half img-circle border-darkgray" src="https://pbs.twimg.com/profile_images/559696552491356161/qjtKagoV.png"> -->
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}"><span>Home</span></a>
      <a class="sidebar-nav-item{% if page.url == 'about.html' %} active{% endif %}" href="{{ site.baseurl }}about"><span>About</span></a>
      <a class="sidebar-nav-item{% if page.url == '/projects/index.html' %} active{% endif %}" href="{{ site.baseurl }}projects/"><span>Projects</span></a>

      <a class="sidebar-nav-item-icon" href="{{ site.github }}"><span class="fa fa-github"></span></a>
      <a class="sidebar-nav-item-icon" href="{{ site.linkedin }}"><span class="fa fa-linkedin"></span></a>
      <a class="sidebar-nav-item-icon" href="https://twitter.com/{{ site.twitter.username }}"><span class="fa fa-twitter"></span></a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
